<div class="header">
    <img class="logo" src="assets/logo.png" alt="" />
    <div class="navbar">
        <div class="navbar-item">
            <a href=""><span>Home</span></a>
        </div>
        <div class="navbar-item">
            <a href=""><span>Pokedéx</span></a>
        </div>
        <div class="navbar-item">
            <a href=""><span>Legendaries</span></a>
        </div>
        <div class="navbar-item">
            <a href=""><span>Documentation</span></a>
        </div>
    </div>
</div>