$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f6f7f9;
$dark: #212121;
$third: #f5db13;
$poison: #A974BC;
$psychic: #A974BC;
$fairy: #A974BC;
$ghost: #A974BC;
$ground: #9B897B;
$grass: #70A83B;
$bug: #70A83B;
$ice: #76AADB;
$water: #76AADB;
$fire: #F76545;
$flight: #F76545;
$dragon: #F76545;
$normal: #76AADB;
$gosth: #76AADB;
$dark: #A1A1A1;
$rock: #A1A1A1;
$stile: #A1A1A1;
$eletric: #F7C545;








