@import "../../theme";
.home-title {
    height: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
    .favorite-pokemon {
        width: 516px;
        height: 557px;
        padding: 221px 157px;
        h1 {
            font-weight: 400;
        }
        span {
            font-weight: 700;
        }
        h1,
        span {
            font-family: 'Karla';
            font-style: normal;
            font-size: 72px;
            line-height: 84px;
            letter-spacing: 4px;
            color: #000000;
        }
        h2 {
            padding-top: 64px;
            padding-bottom: 64px;
            width: 515px;
            height: 111px;
            font-family: 'Karla';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 37px;
        }
        button.green-button {
            width: 231px;
            height: 66px;
            background: #73D677;
            box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
            border-radius: 11px;
            p {
                font-family: 'Karla';
                font-style: normal;
                font-weight: 700;
                font-size: 23px;
                line-height: 27px;
                color: $dark;
            }
        }
    }
    .home-banner {
        img {
            width: 793px;
            height: 680px;
        }
    }
}